/* ArtistProfile.css */
.artist-profile {
    margin-top: 50px;
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 400px;
  }
  
  .card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .badge {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .row h5 {
    font-size: 1.2rem;
  }
  
  .row p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  